/dune-spgrid-*.tar.gz
/aclocal.m4
/am
/autom4te.cache
/configure
/config.guess
/config.h
/config.h.in
/config.lt
/config.status
/config.sub
/depcomp
/dependencies.m4
/dune-spgrid.pc
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

Makefile
Makefile.in
.deps
.libs

*~
*.la
*.lo
*.log
*.o
*.tmp
*.swp
